.footer {
    min-width: 1024px;
}

.fontfooter {
    color: $colorfontfooter;
}

.footer1, .text-lien {
    margin-top: 10px;
    align-items: center;
}

.footer1 {
    height: 80px;
}

.text-lien {
    height: auto;
    margin-bottom: 10px;
}

.rejoindre {
    p, i {
        margin: 10px;
    }
    i {
        font-size: $medium;
    }
}
