/* Logo */

.logo {
    margin: 15px 0 5px 50px;
    img {
        width: 200px;
        height: auto;
    }
}

/* Mon compte & Panier */

.fa-user, .fa-shopping-cart {
    margin-right: 10px;
}

/* Menu catégorie produit */

.bar-menu {
    align-items: center;
    width: 100%;
    height: 40px;
    li {
        cursor: pointer;
        background-color: $bgcolormenu;
        transition: background-color .5s ;
    }
    li:hover {
        background-color: $bgcolormenuhover;
    }
    .active {
        background-color: $bgcolormenuhover;
    }
}

.menu-produit {
    width: 100%;
    height: 40px;
}