/* main {
    width: 100%;
}
 */
.article-produit {
    width: 90%;
    max-width: 1300px;
    min-height: 710px;
    flex-wrap: wrap;
}

.padding_lr {
    padding: 0 55px;
}

.items {
    width: 400px;
    height: 450px;
    margin: 10px;
    padding: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-color: $bgcolormenu;
    figure {
        width:360px;
        height:200px;
        border: 1px dashed $bgcolorlogo;
        img {
            width: 100%;
            height: 100%;
            white-space: nowrap;
            overflow:hidden;
            margin: 20px;
            border: 1px solid $bgcolorlogo;
        }
    }
    .title, .title a {
        color: $bgcolorlogo2;
    }
    .title {
        margin-top: 20px;
        padding-left: 20px;
        font-size: $title;
        text-transform: uppercase;
        a:hover {
            color: $bgcolorlogo;
        }
    }
    .summary {
        font-size: $summary;
        text-align: justify;
        padding: 0 20px 0 20px;
    }
    .shopping {
        align-items: center;
        justify-content: space-between;
        height: 50px;
        .qty, .signe, .fa-shopping-cart, .add, .price, .btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .number-article, .add, .price, .signe {
            font-weight: 700;
        }
        .btn {
            background-color: $bgcolorbar;
        }
        .number-article {
            width: 80px;
            text-align: center;
            font-size: $qty;
        }
        input {
            border: $bgcolorlogo;
            color: $bgcolorlogo;
            background-color: transparent;
            width: 50%;
            height: 28px;
            line-height: 10px;
            margin-right: 5px;
        }
         .qty {
            width: 70%;
            overflow: hidden;
            height: 45px;
            input[type="button"]:hover {
                color: $bgcolorbar;
                background-color: $bgcolorlogo;
            }
        }
        .btn {
            width: 150px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1em;
            p {
                width: 100%;
                height: 100%;
                color: $bgcolorlogo;
                background-color: transparent;
                transition: all 0.3s ease-in-out;    
            }
            :hover {
                background-color: $bgcolorlogo;
                color: $bgcolorbar;
            }        
        }
        .price {
            color: $bgcolorlogo;
            font-size: 1.5em;
        }
         .price, .qty {
            margin: 0 2px;
        }
        .btn, .qty input{
            border: 1px solid $bgcolorlogo;
        }
        .qty,.qty .signe, .btn {
            height: 30px;
        }
    }
    .addbutton-label {
        display: none;
    }
}
